body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #9aa3ba;
    line-height: 26px;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.btn-primary {
    background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 40;
    padding: 20px 30px;
    border-radius: 30px;
    letter-spacing: 2.7px;
    border: 1px solid #1085e4;
}

.btn-primary:hover {
    color: #1085e4;
    background: #fff;
}

.btn-free {
    color: #fff;
}

.btn-group a + a{
    margin-left: 15px;
}

a {
    text-decoration: none;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.page-subscribe h2 span {
    font-size: 14px;
    color: #01a7eb;
    display: block;
}

.page-subscribe h2 {
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.page-subscribe button {
    background-color: #1085e4;
}

.page-subscribe {
    background-color: #0a2090;
}

.page-software h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-software dt {
    font-size: 16px;
    font-weight: 700;
    color: #5a6789;
}

.page-stat h2 span {
    font-size: 16px;
    font-weight: 800;
    display: block;
    color: #3c9ce9;
}

.page-stat h2{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.FactsLi span{
    font-size: 50px;
    font-weight: 700;
    color: #bacbdc;
    display: block;
}

.FactsLi li{
    font-size: 16px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase
}

.page-app h2{
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.Ava {
    font-size: 16px;
    font-weight: 700;
    color: #bacbdc;
    text-transform: uppercase
}

.page-anytype h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-easy h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-screen h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #01a7eb;
    display: block;
}

.page-screen h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}
.page-screen img {
    width: 700px;
}
.page-clients h2 {
    font-size: 40px;
    font-weight: 600px;
    color: #192b59;
}
.page-clients h2 span {
    font-size: 18px;
    font-weight: 800;
    display: block;
    color: #3c9ce9;
    text-transform: uppercase;
}
.name {
    font-size: 22px;
    font-weight: 600;
    color: #192b59;
}
.box-clients p {
    font-size: 14px;
    font-weight: 400;
    color: #5a6789;
}

.page-plan h2 {
    font-size: 40px;
    font-weight: 600;
    color: #0a2090;
}
.page-plan h2 span {
    font-size: 18px;
    font-weight: 800;
    color: #01a7eb;
    display: block;
}
.page-plan a{
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
}

.box-price ul{
    font-size: 14px;
    font-weight: 400;
    color: #5a6789;
}

.box-price-item h3{
    font-size: 40px;
    font-weight: 600;
    color: #0a2090;
}
.box-price-item p {
    font-size: 14px;
    font-weight: 400;
    color: #1085e4;
}
.box-price-item h3 span {
    font-size: 14px;
    font-weight: 400;
    color: #0a2090;
}

.page-form h2 {
    font-size: 50px;
    font-weight: 600;
    color: #0a2090;
}
.page-form form{
    font-size: 14px;
    font-weight: 400;
    color: gray;
}
.page-form button{
    background-color: #1085e4;
}

.footer p {
    font-size: 16px;
    font-weight: 400;
    color: gray;
}
.footer a{
    font-size: 16px;
    font-weight: 400;
    color: #1085e4;
    text-transform: uppercase;
}